.download-button-group {
  margin-top: 1.5rem;
}

.download-button {
  background-color: #38bdf8;
  color: #fff;
  padding: 0.75rem 1.5rem;
  transition: background-color 0.3s;
}

.download-button:hover {
  background-color: #8eddff;
}

.download-button-pdf {
  background-color: #34d399;
}

.download-button-pdf:hover {
  background-color: #8eddff;
}
