@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Silentha';
    src: url('/external/fonts/Silentha OT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Great Vibes';
    src: url('/external/fonts/GreatVibes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  